.order {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}


.order__closeButton {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 40px;
    top: 60px;
}

.order__closeButton:hover {
    opacity: 0.6;
    cursor: pointer;
}

.order__colorText {
    color: #8585AD;
}