.fogotPassword {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .fogotPassword__input {
    padding: 0 0 24px 0;
  }
  
  .fogotPassword__text {
    margin: 80px 0 16px 0;
    display: flex;
  }
  
  .fogotPassword__link {
    text-decoration: none;
    color: #4c4cff;
  }
  
  .fogotPassword__link:hover {
    opacity: 0.8;
  }
  
  .fogotPassword__reset {
    display: flex;
  }
  