.forgotPassword {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .forgotPassword__input {
    padding: 0 0 24px 0;
  }
  
  .forgotPassword__text {
    margin: 80px 0 16px 0;
    display: flex;
  }
  
  .forgotPassword__link {
    text-decoration: none;
    color: #4c4cff;
  }
  
  .forgotPassword__link:hover {
    opacity: 0.8;
  }
  
  .forgotPassword__reset {
    display: flex;
  }
  