.burgerConstructor {
  width: auto;
}
.burgerConstructor__ingridientsBox {
  max-height: 650px;
  white-space: nowrap;
  overflow-y: auto;
}
.burgerConstructor__ingridientsBox::-webkit-scrollbar {
  width: 8px;
  background-color: #2F2F37;
}

.burgerConstructor__ingridientsBox::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
.burgerConstructor_container {
  white-space: nowrap;
}
.burgerConstructor_rolls {
  display: flex;
  justify-content: space-around;
}