.burgerIngredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 240px;
    position: relative;
}
.burgerIngredient__link {
    text-decoration: none;
    color: #F2F2F3;
}
.burgerIngredient__costBox {
    display: flex;
    align-items: center;
}
.burgerIngredient__cost {
    margin-right: 10px;
}
.burgerIngredient__text {
    padding: 0;
    margin: 0;
}