.login {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .ResertPassword__input {
    padding: 0 0 24px 0;
  }
  
  .ResertPassword__register {
    margin: 80px 0 16px 0;
    display: flex;
  }
  
  .ResertPassword__link {
    text-decoration: none;
    color: #4c4cff;
  }
  
  .ResertPassword__link:hover {
    opacity: 0.8;
  }
  
  .ResertPassword__reset {
    display: flex;
  }
  